html
{
  --color-text: #6B6A6A;
  --color-selected: #413d44;
  --color-text-selected: #507ab1;
  --color-highlight: #383838;
  --color-hovered: #332e2e;
  --color-background: #272626;
  --color-disabled: #111111;
}

body
{
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar
{
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}