.card
{
  display: flex;
  flex-flow: wrap;

  outline: none;
  overflow: hidden;
  cursor: pointer;

  background-color: var(--color-dark);

  position: relative;
  width: calc(100vw - 30px);
  min-height: 10px;
  max-height: 125vh;

  font-family: Oxygen, sans-serif;
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  
  padding: 8px 15px;
  border: 0px;
  margin: 0px;
}

.card:focus, .card:hover
{
  background: var(--color-medium);
}

/* cards inside of a parent card */

.card > .card
{
  flex-grow: 1;
  background-color: transparent;
  
  width: auto;
  padding: 3px 5px;
}

.card > .card:hover
{
  outline-offset: -1px;
  outline: #FFFFFF solid 1px;
}

.cardLineBreak
{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
}

.cardLineSeparator
{
  flex-basis: 100%;
  width: 0px;
}

.cardTitle, .cardDescription
{
  overflow: hidden;

  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: center;

  background-color: transparent;
  color: #FFFFFF;

  width: auto;
  height: auto;
}

.cardDescription
{
  color: var(--color-lighter);

  white-space: pre-line;
  writing-mode: horizontal-tb;
  max-block-size: 35vh;

  width: 100%;
}

.cardIcon
{
  align-self: center;

  background-color: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;

  width: calc(22px + 1vw + 0.5vh);
  height: auto;
}

.cardLeft
{
  justify-content: flex-start;
}

.cardRight
{
  justify-content: flex-end;
}

.cardCenter
{
  justify-content: center;
}

.cardMedium
{
  font-size: calc(11px + 0.5vw + 1vh);
}

.cardSmall
{
  font-size: calc(8px + 0.5vw + 1vh);
}

.cardSmaller
{
  font-size: calc(8px + 0.5vw + 0.8vh);
}

.cardBig
{
  font-size: calc(12px + 0.5vw + 1.5vh);
}

.cardBigger
{
  font-size: calc(16px + 0.5vw + 1.5vh);
}

.cardNormal
{
  font-weight: 400;
}

.cardLight
{
  font-weight: 100;
}

.cardBold
{
  font-weight: 700;
}

/* spacing between the title and icons horizontally */

.cardTitle + .cardIcon,
.cardIcon + .cardIcon
{
  margin-left: 5px;
}

/* spacing between elements vertically
excluding line breaks and the last element of a card */

.card > *:not(.cardLineBreak)
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.cardProgressBar, .card:hover > .cardProgressBar
{
  background: linear-gradient(90deg, var(--color-light) var(--cardProgress), rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
}

/** if the card is child, not show the progress unless the parent is hovered on **/

.card > .cardProgressBar
{
  background: transparent;
}

.cardDisabled
{
  cursor: default;
  pointer-events: none;
}

/** only change the card if it's not a child **/

body > .cardDisabled
{
  background: var(--color-darkest);
}

/** only change the card if it is a child **/

.card > .cardDisabled > *
{
  color: var(--color-lighter);
}