.cardCollapsed:not(.cardFastForward)
{
  animation: cardCollapsed 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.cardExpanded:not(.cardFastForward)
{
  animation: cardExpanded 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes cardCollapsed
{
  from
  {
    height: var(--cardHeight);
  }

  to
  {
    height: var(--cardY);
  }
}

@keyframes cardExpanded
{
  from
  {
    height: var(--cardY);
  }

  to
  {
    height: var(--cardHeight);
  }
}

.cardCollapsed:not(.cardFastForward) > .cardChildCollapsed
{
  transition: opacity 0.5s ease;
  opacity: 0;
}

.cardExpanded:not(.cardFastForward) > .cardChildExpanded
{
  transition: opacity 0.5s ease;
  opacity: 1;
}

/* just hide elements if fast forward mode is turned on */

.cardFastForward > .cardChildCollapsed 
{
  display: none;
}