/* Buttons */

.card.cardButton, .card > .card.cardButton
{
  cursor: pointer;

  color: var(--color-text);
}

.card:hover > .card.cardButton
{
  background-color: var(--color-highlight);
  color: var(--color-text);
}

.card.cardButton:hover, .card > .card.cardButton:hover
{
  background-color: var(--color-selected);
  color: var(--color-text-selected);
}

/* Progress Bar */

.card.cardProgressBar
{
  border-width: calc(0.5vh + 5px) 0px 0px 0px;
  border-style: solid;
  border-image: linear-gradient(90deg, var(--color-highlight) var(--cardPercentage), rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%);
  border-image-slice: 1;
}

/* Loading Bar */

.card.cardLoadingBar
{
  background-image: linear-gradient(to right, var(--color-highlight) 50%, transparent 0%);

  background-size: 50vw calc(0.5vh + 5px);
  background-repeat: no-repeat;
  background-position-y: calc(-0.5vh + -5px);

  border: rgba(0,0,0,0) solid;
  border-width: calc(0.5vh + 5px) 0px 0px 0px;

  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);;
  animation-iteration-count: infinite;
}

@keyframes loading
{
  0% 
  {
    background-position-x: calc(0% - 50vw);
  }

  100%
  {
    background-position-x: calc(100% + 50vw);
  }
}

/* Toggle */

.card > .card.cardToggle
{
  flex-grow: 0;
  align-self: center;
  box-sizing: border-box;

  background-color: var(--color-hovered);

  width: calc(30px + 4vw);
  height: calc(15px + 2vh);

  border-width: calc(7px + 0.5vh) calc(5px + 0.15vw) calc(7px + 0.5vh) calc(5px + 0.15vw);
  border-color: var(--color-background);
  border-style: solid;
}

.card:not(.cardFastForward) > .card.cardToggle:not(.cardFastForward)
{
  transition: border-width 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.card:hover > .card.cardToggle
{
  cursor: pointer;

  border-color: var(--color-highlight);
}

.card:hover > .card.cardToggleOn
{
  background-color: var(--color-text-selected);
  border-width: calc(5px + 0.1vh) calc(15px + 1.5vw) calc(5px + 0.1vh) calc(5px + 0.15vw);
}

.card:hover > .card.cardToggleOff
{
  background-color: var(--color-selected);
  border-width: calc(5px + 0.1vh) calc(5px + 0.15vw) calc(5px + 0.1vh) calc(15px + 1.5vw);
}

.card > .card.cardToggle + *
{
  margin-left: 10px; 
}

/* Picks */

.card > .card.cardPickOff
{
  cursor: pointer;

  color: var(--color-text);
}

.card > .card.cardPickOff:hover
{
  color: var(--color-text-selected);
}

.card > .card.cardPickOn
{
  color: var(--color-text-focus);
}

/* Disabled */

/* if the card is child, not show the progress unless the parent is hovered on */

.cardDisabled
{
  cursor: default;
  pointer-events: none;
}

/* only change the card if it's not a child */

body > .cardDisabled
{
  background-color: var(--color-disabled);
}

/* only change the card if it is a child */

.card > .cardDisabled > *
{
  color: var(--color-text);
}

/* Optional Styles */
/* Default to center Button & Progress Bar Text if they don't have an align already set */

.card > .cardButton > .cardTitle:not(.cardLeft):not(.cardRight),
.card > .cardButton > .cardDescription:not(.cardLeft):not(.cardRight),
.card > .cardProgressBar > .cardTitle:not(.cardLeft):not(.cardRight),
.card > .cardProgressBar > .cardDescription:not(.cardLeft):not(.cardRight)
{
  justify-content: center;
}