:root
{
  --color-lighter: #8B8A8A;
  --color-light: #505050;
  --color-medium: #414141;
  --color-dark: #292929;
  --color-darkest: #111111;
}

body
{
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--color-dark);
  width: 100vw;
  height: 100vh;
}

#searchBar
{
  z-index: 1;
  outline: none;
  overflow: hidden;
  position: sticky;
  background-color: var(--color-medium);
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  height: calc(30px + 3vh + 0.5vw);
  font-family: Oxygen;
  font-size: calc(15px + 1.5vh + 0.5vw);
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  border: 0px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

#searchBar::placeholder
{
  color: var(--color-lighter);
}

::-webkit-scrollbar
{
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}