html
{
  --searchBar-height: (25px + 3vh + 0.5vw);
  --suggestion-item-height: (25px + 2.5vh + 0.5vw);

  --max-suggestions-count: 3;
}

.searchBar
{
  z-index: 1;
  outline: none;
  background-color: var(--color-hovered);
  color: #FFFFFF;
  
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  height: calc(var(--searchBar-height));

  font-family: Oxygen, sans-serif;
  font-size: calc(14px + 1.5vh + 0.5vw);
  font-weight: 400;

  user-select: none;
  white-space: nowrap;

  border: 0px;
  padding: 10px;
  margin: 0px;
}

.suggestions
{
  z-index: -1;
  overflow: hidden;

  background-color: var(--color-hovered);

  position: sticky;
  top: calc(var(--searchBar-height) + 20px);
  left: 0;

  width: 100vw;
  max-height: 0;

  transition: max-height 0.1s ease-in-out;
}

.suggestionsActive
{
  max-height: calc(var(--suggestion-item-height) * var(--suggestions-count));
}

.suggestionsItem
{
  display: flex;
  align-items: center;

  color: var(--color-text);

  position: relative;
  width: 100vw;
  height: calc(var(--suggestion-item-height));

  white-space: pre;
  user-select: none;

  font-family: Oxygen, sans-serif;
  font-size: calc(12px + 0.8vh + 0.5vw);;
  font-weight: 400;

  padding: 0px 10px;
}

.suggestionsItem > mark
{
  color: #FFFFFF;
  background-color: transparent;
}

.suggestionsItemSelected
{
  background-color: var(--color-selected);
}