#searchBar
{
  background-color: #4F4F4F;
  position: relative;
  width: 100vw;
  height: 10vh;
}

#searchBarPlaceholder, #searchBarInput
{
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  position: absolute;
  left: 10px;
  top: 0;
  width: calc(100vw - 20px);
  height: inherit;
  font-family: Oxygen;
  font-size: calc(50% + 3vh);
  font-weight: 200;
  padding: 0px;
  border: 0px;
}

#searchBarPlaceholder
{
  background-color: #4F4F4F;
  color: #878787;
  pointer-events: none;
}

#searchBarInput:focus
{
  outline: none;
}