/* blocks inside of a the main body */

.block
{
  display: flex;
  flex-flow: wrap;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  background-color: #292929;
  position: relative;
  width: calc(100vw - 30px);
  min-height: 10px;
  max-height: 125vh;
  font-family: Oxygen;
  font-size: calc(10px + 0.5vw + 1vh);
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  text-transform: capitalize;
  padding: 8px 15px;
  border: 0px;
  margin: 0px;
}

.block:focus, .block:hover
{
  background-color: #4F4F4F;
}

/* blocks inside of a parent block */

.block > .block
{
  background-color: transparent;
  padding: 3px 5px;
}

.block > .block:hover
{
  outline-offset: -1px;
  outline: #FFFFFF solid 1px;
}

.blockLineBreak
{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
}

.blockLineSeparator
{
  flex-basis: 100%;
  width: 0px;
}

.blockTitle, .blockDescription
{
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: auto;
  overflow: hidden;
  background-color: transparent;
  color: #FFFFFF;
  width: auto;
  height: auto;
}

.blockDescription
{
  color: #878787;
  white-space: pre-line;
  writing-mode: horizontal-tb;
  max-block-size: 35vh;
  width: 100%;
}

.blockIcon
{
  align-self: center;
  background-color: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
  stroke: white;
  width: calc(22px + 1vw + 0.5vh);
  height: auto;
}

.blockLeft
{
  justify-content: flex-start;
}

.blockRight
{
  justify-content: flex-end;
}

.blockCenter
{
  justify-content: center;
}

.blockMedium
{
  font-size: calc(10px + 0.5vw + 1vh);
}

.blockSmall
{
  font-size: calc(8px + 0.5vw + 1vh);
}

.blockSmaller
{
  font-size: calc(8px + 0.5vw + 0.8vh);
}

.blockNormal
{
  font-weight: 400;
}

.blockLight
{
  font-weight: 100;
}

.blockBold
{
  font-weight: 700;
}

/* spacing between the title and icons horizontally */

.blockTitle + .blockIcon,
.blockIcon + .blockIcon
{
  margin-left: 5px;
}

/* spacing between elements vertically
excluding line breaks and the last element of a block */

.block > *:not(.blockLineBreak)
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.blockCollapsed
{
  animation: blockCollapsed 0.4s ease-in;
  animation-fill-mode: forwards;
}

.blockExpanded
{
  animation: blockExpanded 0.4s ease-out;
  animation-fill-mode: forwards;
}

@keyframes blockCollapsed
{
  70%
  {
    opacity: 0;
  }

  99%
  {
    position: relative;
  }

  100%
  {
    opacity: 0;
    transform: translateX(100%);
    position: absolute;
  }
}

@keyframes blockExpanded
{
  0%
  {
    opacity: 0;
    transform: translateX(100%);
  }

  20%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
    transform: translateX(0%);
  }
}