body
{
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #292929;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar
{
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}