body
{
  background-color: #292929;
}

.block
{
  background-color: #292929;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: calc(60px + 5vh);
}

.block:focus, .block:hover
{
  background-color: #4F4F4F;
}