.buttonExtensionIcon, .buttonActionIcon
{
  background-color: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
  stroke: white;
  pointer-events: none;
  position: absolute;
  left: calc(100vw - (((16px + 2vw + 0.5vh) * 2) + 20px));
  top: 0px;
  width: calc(16px + 2vw + 0.5vh);
  height: inherit;
}

.buttonActionIcon
{
  left: calc(100vw - ((16px + 2vw + 0.5vh) + 10px));
}

.buttonTitle, .buttonDescription
{
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  color: #ffffff;
  pointer-events: none;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 20px;
  top: 0px;
  height: 50%;
  width: calc(100vw - (((16px + 2vw + 0.5vh) * 2) + 50px));
  font-family: Oxygen;
  font-size: calc(10px + 0.5vw + 1.3vh);
  font-weight: 200;
}

.buttonDescription
{
  align-items: flex-start;
  color: #878787;
  top: 50%;
}