.button
{
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
}

.button *
{
  margin: 5px 10px 0px 10px;
}

.buttonTitle, .buttonDescription
{
  flex-grow: 8;
  background-color: transparent;
  color: #FFFFFF;
  overflow: hidden;
  box-sizing: border-box;
  border: #FFFFFF dashed 2px;
  margin: 0;
}

.buttonDescription
{
  flex-basis: 100%;
  color: #878787;
  white-space: pre-line;
  writing-mode: horizontal-tb;
  max-block-size: 35vh;
  margin: 5px 10px 0px 10px;
}

.buttonExtensionIcon, .buttonActionIcon
{
  align-self: center;
  background-color: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
  stroke: white;
  width: calc(16px + 1.5vw + 0.5vh);
  height: auto;
  margin: 0px 5px 0px 0px;
  box-sizing: border-box;
  border: #FFFFFF dashed 2px;
}

.buttonActionIcon
{
  margin: 0px 0px 0px 5px;
}

.buttonExtended
{
  background-color: transparent;
  color: #FFFFFF;
  overflow: hidden;
  box-sizing: border-box;
  border: #FFFFFF dashed 2px;
}