.button
{
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
}

.button *
{
  width: 100%;
  margin: 5px 10px 0px 10px;
}

.buttonTitle, .buttonDescription
{
  flex-grow: 1;
  overflow: hidden;
  background-color: transparent;
  color: #FFFFFF;
  width: auto;
  margin: 0;
}

.buttonDescription
{
  color: #878787;
  width: 100%;
  white-space: pre-line;
  writing-mode: horizontal-tb;
  max-block-size: 35vh;
  margin: 5px 10px 0px 10px;
}

.buttonExtensionIcon, .buttonActionIcon
{
  align-self: center;
  background-color: transparent;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
  stroke: white;
  width: calc(16px + 1vw + 0.5vh);
  height: auto;
  margin: 0px 0px 0px 5px;
}

.buttonActionIcon
{
  margin: 0px 0px 0px 5px;
}