.dialogue
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  cursor: default;
}

.dialogueTitle, .dialogueDescription
{
  grid-row: 1;
  color: #FFFFFF;
  overflow: hidden;
  width: inherit;
}

.dialogueDescription
{
  grid-row: 2;
  color: #878787;
  white-space: pre-line;
  writing-mode: horizontal-tb;
  max-block-size: 35vh;
  font-size: calc(10px + 0.5vw + 1vh);
}

.dialogueOption
{
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
  height: 8.5vh;
  text-transform: uppercase;
  font-size: calc(10px + 0.5vw + 0.8vh);
  font-weight: 700;
}

.dialogueOption:hover
{
  box-sizing: border-box;
  border: #FFFFFF solid 1px;
}