.notificationTitle, .notificationDescription
{
  color: #FFFFFF;
  overflow: hidden;
  width: inherit;
  margin-bottom: 10px;
}

.notificationDescription
{
  color: #878787;
  white-space: pre-line;
  writing-mode: horizontal-tb;
  max-block-size: 35vh;
  font-size: calc(10px + 0.5vw + 1vh);
}

.notificationButton
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  left: 75%;
  width: 25%;
  height: calc(12px + 4vh + 1vw);
  text-transform: uppercase;
  font-size: calc(10px + 0.5vw + 0.8vh);
  font-weight: 700;
}

.notificationButton:hover
{
  box-sizing: border-box;
  border: #FFFFFF solid 1px;
}