.searchBar
{
  z-index: 1;
  outline: none;
  overflow: hidden;
  position: sticky;
  background-color: #4F4F4F;
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  height: calc(30px + 3vh + 0.5vw);
  font-family: Oxygen;
  font-size: calc(15px + 1.5vh + 0.5vw);
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  border: 0px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

.searchBar::placeholder
{
  color: #878787;
}