.searchBar, .searchBarPlaceholder
{
  display: flex;
  align-items: center;
  outline: none;
  background-color: #4F4F4F;
  color: #FFFFFF;
  position: relative;
  width: 100vw;
  height: calc(15px + 4.5vh + 0.5vw);
  font-family: Oxygen;
  font-size: calc(5px + 0.5vw + 0.9vh);
  font-weight: 200;
  padding: 0px 10px;
  border: 0px;
}

.searchBarPlaceholder
{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.35);
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  user-select: none;
}

.searchBar:focus, .searchBarPlaceholder-focus
{
  height: calc(30px + 4.5vh + 0.5vw);
  font-size: calc(15px + 0.5vw + 0.9vh);
}

.searchBarPlaceholder-focus
{
}