body
{
  background-color: #292929;
  overflow: hidden;
  margin: 0px;
}

.page
{ 
  background-color: #292929;
  position: relative;
  width: 100vw;
  height: calc(90vh);

  overflow: hidden;

  display: grid;
  grid-auto-rows: max-content;
}