#page
{ 
  background-color: #464a4c;
  position: relative;
  top: 2px;
  width: 100vw;
  height: calc(90vh - 2px);

  overflow: hidden;

  /* changing some of the grid rules will break your app */
  display: grid;
  grid-auto-rows: max-content;
}

.button
{
  background-color: blue;
  position: relative;
  left: 0px;
  width: inherit;
  height: 12vh;
  padding: 0px;
  border: 0px;
}

.button:focus
{
  background-color: #1c1d1e;
  outline: none;
}

.buttonIcon, .buttonActionIcon
{
  background-color: rgba(0, 0, 0, 0);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
  stroke: white;
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 0px;
  width: 3.8vw;
  height: inherit;
}

.buttonActionIcon
{
  left: calc(95% - 10px);
}

.buttonTitle, .buttonDescription
{
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  pointer-events: none;
  position: absolute;
  left: calc(5% + 20px);
  top: 0px;
  height: 50%;
  width: calc(90% - 40px);
  font-family: Oxygen;
  font-size: 110%;
  font-weight: 200;
  margin-top: 0.8vh;
  padding: 0px;
  border: 0px;
}

.buttonDescription
{
  color: rgba(255, 255, 255, 0.5);
  top: 50%;
  margin-top: -0.8vh;
}