#page
{
  background-color: blueviolet;
  position: relative;
  width: 100vw;
  height: calc(90vh - 4px);
  
  overflow-y: scroll;
  overflow-x: hidden;

  top: 2px;

  /* changing some of the grid rules will break your app */
  display: grid;
  grid-auto-rows: max-content;
  grid-template-areas: "topHideout" "button" "botHideout";
  grid-row-gap: 2px;
}

.topHideout, .botHideout
{
  grid-area: topHideout;
  background-color: black;
  position: relative;
  top: 0px;
  left: 0px;
  width: inherit;
  height: 10vh;
}

.botHideout
{
  grid-area: botHideout;
}

.button
{
  grid-area: button;
  background-color: blue;
  position: relative;
  left: 0px;
  width: inherit;
  height: 10vh;
  padding: 0px;
  border: 0px;
}

.button:focus
{
  outline: none;
}

.buttonIcon, .buttonAction
{
  background-color: black;
  position: absolute;
  left: 10px;
  top: 0px;
  width: 5%;
  height: inherit;
}

.buttonAction
{
  left: calc(95% - 10px);
}

.buttonTitle, .buttonDescription
{
  background-color: green;
  position: absolute;
  left: calc(5% + 20px);
  top: 0px;
  height: 50%;
  width: calc(90% - 40px);
  padding: 0px;
  border: 0px;
}

.buttonDescription
{
  background-color: orange;
  top: 50%;
}