#page
{
  background-color: blueviolet;
  position: relative;
  width: 100vw;
  height: calc(90vh - 4px);
  
  top: 2px;

  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh;
  grid-row-gap: 2px;
}

.button
{
  background-color: blue;
  position: absolute;
  width: inherit;
  height: 10vh;
  padding: 0px;
  border: 0px;
}

.button:focus
{
  outline: none;
}

.icon, .action
{
  background-color: black;
  position: absolute;
  left: 10px;
  top: 0px;
  width: 5%;
  height: inherit;
}

.action
{
  left: calc(95% - 10px);
}

.buttonTitle, .buttonDescription
{
  background-color: green;
  position: absolute;
  left: calc(5% + 20px);
  top: 0px;
  height: 50%;
  width: calc(90% - 40px);
  padding: 0px;
  border: 0px;
}

.buttonDescription
{
  background-color: orange;
  top: 50%;
}