#page
{
  background-color: blueviolet;
  position: relative;
  width: 100vw;
  height: 90vh;
  
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh;
  grid-row-gap: 1px;
}

.button
{
  background-color: blue;
  width: inherit;
  height: 10vh;
  padding: 0px;
  border: 0px;
}

.button:focus
{
  outline: none;
}

/* .buttonTitle
{

} */


/* .buttonDescription
{

} */

/* .icon-normal
{
  stroke: white;
  fill: white;
  width: 4vw;
  height: 4vw;
  left: 10px;
  stroke-width: 1px;
}

.icon-selected
{
  stroke: black;
  fill: white;
  width: 4vw;
  height: 4vw;
  left: 10px;
  stroke-width: 1px;
} */

/* #addon
{
  background-color: rgb(138, 138, 138);
  width: inherit;
  height: 90vh;
} */